html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card {
    border-radius: 15px;
}

.card-header {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.btn {
    border-radius: 25px;
}

.student-img {
    width: 250px; /* Adjust for a bigger image */
    height: auto;
    display: block;
    margin: 20px auto; /* Centers the image below the card */
}


